<a href="/about">About</a>
<a href="/cover">Cover</a>
<a href="/message">Contact Us</a>
<a href="/termsofuse">Terms of Use</a>
<a href="/privacypolicy">Privacy Policy</a>
<!-- JavaScript Bundle with Popper -->


 
 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>

<script src="/js/caman.js"></script>
<script src="/js/croppie.js"></script>
<script src="/js/pushnotification.js"></script>


<script src="/js/main.js"></script>

</body>
</html>
