 <div class="sticky bottom-0">
 <footer class="footer footer-center p-1 bg-base-200 text-base-content text-center rounded ">
      <div class="grid grid-flow-col gap-2 -mb-12 ">
        <a class="text-xs link link-hover" href="/about">About</a>
        <a class="text-xs link link-hover"  href="/message">Contact Us</a>
        <a class="text-xs link link-hover" href="/termsofuse">Terms of Use</a>
        <a class="text-xs link link-hover" href="/privacypolicy">Privacy Policy</a>
      </div>
      <span class="text-xs">Copyright © 2022 - I Lov Guitars Inc. <a href="https://github.com/kolourr/All-My-Life-She-Sacrificed">OpenSource ❤️ - GITHUB</a></span>
  </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>


<!-- <script>
  ClassicEditor
      .create( document.querySelector( '#editor' ), {
      removePlugins: ['CKFinderUploadAdapter', 'CKFinder', 'EasyImage', 'Image', 'Link', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed'],
    })
      .catch( error => {
          console.error( error );
      } );
</script> -->



<script src="/js/caman.js"></script>
<script src="/js/croppie.js"></script>
<script src="/js/stripe.js"></script>
<script src="/js/serviceworker.js"></script>
<script src="/js/pushnotification.js"></script>

<script src="/js/main.js"></script>

</body>
</html>
