<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="night">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>All My Life She Sacrificed - Share Inspiring Stories of Your Mom - Kolourr</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/normalize.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/output.css">
</head>
<body class="flex flex-col h-screen mx-2">
  <header class="sticky xs:mt-4 pt-1 pb-0  z-10 ">
    <div class="navbar sm:pt-0 pb-0 md:mt-2 top-0">
      <div class="flex w-1/2 justify-between lg:hidden  -mt-16 sm:mt-0	">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li tabindex="0">
              <a class="justify-between uppercase"href="/about">
                About
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
              </a>
            </li>
            <li tabindex="0">
              <a class="justify-between uppercase">
                Song & NFTs
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
              </a>
              <ul class="p-2 bg-base-100">
                <li class="hover-bordered uppercase"><a href="/song">Song</a> </li>
                <li class="hover-bordered uppercase"><a href="/nft">NFTs</a></li>
              </ul>
            </li>
              <li tabindex="0">
              <a class="justify-between uppercase" href="/login">
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="sm:flex justify-between  lg:flex lg:w-1/2 lg:justify-center  -mt-16  sm:mt-0	"><img class="h-20" src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/aalsh-logo.png">

        <a href="/loggedinindex" class="text-2xl  font-bold text-center shrink-0      ">All My Life She <span class="italic text-primary text-2xl ">Sacrificed</span></a>


      </div>
      <div class="flex w-1/2 justify-center invisible lg:visible ">
        <ul class="menu menu-horizontal p-0">
          <li tabindex="0">
            <a class="justify-between uppercase" href="/about">
              About
            </a>
          </li>
          <li tabindex="0">
            <a class="justify-between uppercase">
              Song & NFTs
              <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
            </a>
            <ul class="p-2 bg-base-100">
              <li class="hover-bordered uppercase"><a href="/song">Song</a> </li>
              <li class="hover-bordered uppercase"><a href="/nft">NFTs</a></li>
            </ul>
          </li>
          <li tabindex="0">
        <a class="justify-between uppercase" href="/login">
              Login
            </a>
          </li>
      </div>
    </div>
  </header>
