<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>
    <div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
        <div class="grid grid-cols-8 gap-4">
          <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">

            <h1 class="text-4xl  font-bold text-center lg:text-left	 "> About</h1>

            <div class=" bg-base-200 md:w-8/12     py-2 rounded-md shadow-md m-4">
                <p class="py-2 text-lg">'All My Life She Sacrificed' is a free to use social networking application dedicated to spreading inspiring and uplighting stories about moms.</p>

                <p class="py-2 text-lg">

                    This app was born out of the song of the same name (yet to be released) by Indie Artist, Industrial Engineer and developer  <a href="https://www.kolourr.com/" target=”_blank” class="link link-primary">Bruce (Kolourr) Rebello</a>.

                <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/moms.png"   class="mx-auto block"  />



                    <p class="py-2 text-lg">
                        In addition to this application, a special PFP (profile Picture) NFT collection called <a href="https://www.musicavatars.org" target=”_blank” class="link link-primary">Music Avatars</a> has been released which is avaiable for minting (will go live when this application goes into production). For more information, <a href="/nft" class="link link-secondary">click here</a>.
                     </p>

                </div>


</div>
</div>
</div>
<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>