<%- include('partials/header') %>
<h1>Share a Picture & Story About Your Mom!</h1>
<br><br>
<a href="/loggedinindex">Home</a>
<a href="/wall/feed">Feed</a>
<a href="/profile">Profile</a>
<a href="/updatedindex">Make a Post</a>
<a href="/wall">Wall</a>
<a href="/message">Contact Us</a><br><br>



<form action="/wall/createWallPost" method='POST' enctype="multipart/form-data">


    <input type="file" name="image" id="image"   required /><br><br>

    <img type="hidden"   />



    <textarea type="text" rows="4" cols="40" placeholder="caption" name='caption' required></textarea><br><br>

    <input type="submit">
</form>


<a href="/post/dashboard">Dashboard</a>
<a href="/wall">Wall</a>
<a href="/auth/logout">Logout</a>

<%- include('partials/footer') %>
