<%- include('partials/header-postauth') %>
<div class="grow  -mt-20 sm:mt-0	 ">
  <div class="grid grid-cols-8 gap-4">
      <div class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card bg-base-300 rounded-box place-items-center p-8">
        <h1 class="text-2xl text-center font-bold m-4 ">Edit Your Comment as Needed</h1>
    <form action="/comment/editComment/<%=comment._id%>" method='POST'>
    <input type="hidden" name="_method" value="PUT">
    <textarea class="textarea textarea-success mb-4" placeholder="Body" type="text" rows="8" cols="40" name="body"
    required><%=comment.body%></textarea>


    <div class="col-md-6   my-4 ">
        <button id="submit-wallImage" class=" btn btn-primary btn-block uppercase text-xl">Submit</button>
      </div>
</form>
</div>
</div>
</div>
<%- include('partials/footer-postauth') %>