<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
    <div class="grid grid-cols-8 gap-4">
      <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center ">
<h1>Edit Your Comment from an Image Story</h1>
<form action="/wall/wallPostEditComment/<%=wallPostComment._id%>" method='POST'>
    <input type="hidden" name="_method" value="PUT">
    <input type="text" placeholder="Body" name='captionComment' value="<%=wallPostComment.captionComment%>"><br><br>
    <input type="submit">
</form>
</div>
</div>
</div>
<%- include('partials/footer-postauth') %>