<%- include('partials/header') %>
<h1>Edit a Post About Your Mom!</h1>
<a href="/loggedinindex">Home</a>
<a href="/wall/feed">Feed</a>
<a href="/profile">Profile</a>
<a href="/updatedindex">Make a Post</a>
<a href="/wall">Wall</a>
<a href="/message">Contact Us</a>

<br><br>
<a href="/loggedinindex">Home</a>
<a href="/wall/feed">Feed</a>
<a href="/profile">Profile</a>
<a href="/updatedindex">Make a Post</a>
<a href="/wall">Wall</a>
<a href="/message">Contact Us</a><br><br>

<form action="/comment/editComment/<%=comment._id%>" method='POST'>
    <input type="hidden" name="_method" value="PUT">

    <input type="text" placeholder="Body" name='body' value="<%=comment.body%>"><br><br>
    <input type="submit">
</form>

<a href="/post/dashboard">Dashboard</a>

<a href="/auth/logout">Logout</a>

<%- include('partials/footer') %>