<%- include('partials/header') %>
<div class="flex-grow">

<h1>Edit a Post About Your Mom!</h1>
<form action="/comment/editComment/<%=comment._id%>" method='POST'>
    <input type="hidden" name="_method" value="PUT">

    <input type="text" placeholder="Body" name='body' value="<%=comment.body%>"><br><br>
    <input type="submit">
</form>

</div>

<%- include('partials/footer') %>