<%- include('partials/header') %>
<div class="grow overflow-y-scroll">
    <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">
<h1>Edit a Post About Your Mom!</h1>
<form action="/comment/editComment/<%=comment._id%>" method='POST'>
    <input type="hidden" name="_method" value="PUT">
    <input type="text" placeholder="Body" name='body' value="<%=comment.body%>"><br><br>
    <input type="submit">
</form>
</div>
</div>
</div>
<%- include('partials/footer') %>