<%if (typeof user === 'undefined') { %>
<%- include('partials/header-preauth') %>
<% } else { %>
<%- include('partials/header-postauth') %>
<%  } %>
<div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
  <div class="grid grid-cols-8 gap-4">
    <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center ">
      <div class="hero  min-h-fit	 sm:mt-2">

        <div class="hero-content flex-col lg:flex-row-reverse">
          <img
            src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/workingmom.png"
            class="min-w-0	     shadow-md" />
          <div>
            <h1 class="text-4xl  font-bold text-center lg:text-left	 ">Your mom is inspiring.<br>Share her stories with us.</h1>




            <p class="py-6 text-lg">The social network dedicated to celebrating and sharing stories on inspiring moms from all corners of the earth.</p>
            <button class="btn btn-primary mx-auto lg:mx-0	text-xl block"><a href="/login">Share Your Mom's Story</a></button>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <h2 class="text-3xl  font-bold text-center lg:text-left	uppercase ">Features</h2>
      <div class="grid xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-1  lg:grid-flow-cols ">
        <div class="p-4 m-2 bg-base-200 ">
          <div class="card w-96 bg-base-100 shadow-xl h-full">
            <div class="bg-base-100 grid w-full flex-grow gap-3 rounded-xl rounded-tl-none p-6 shadow-xl">
              <div class="flex flex-col items-center space-x-2">
                <div class="online avatar">
                  <div class="w-24 rounded-full"><img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/Bruce+Rebello+-+Founder+-+All+My+Life+She+Sacrifices.png"
                      alt="Avatar Tailwind CSS Component" class="mask mask-hexagon">
                  </div>
                </div>
                <div class="text-lg  font-extrabold">Beautiful Profiles</div>
                <div class="text-base-content/70 text-sm flex-col">Bruce (Kolourr) Rebello</div>
              </div>
            </div>
            <div class="card-body">
              <div class="dropdown w-full flex-1">
                <div class="divider text-lg font-extrabold mt-4">Features</div>
                <div class="grid gap-3">
                  <div class="dropdown dropdown-top">
                    <div tabindex="0">
                      <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs">Custom Image Feed</span><progress max="100" value="90" class="progress progress-success"></progress>
                      </div>
                      <div class="flex items-center p-1"><span
                          class="text-base-content/70 w-48 text-xs">Custom Story Feed</span><progress max="100" value="90"
                          class="progress progress-primary"></progress>
                      </div>
                      <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs"> Beautiful Text Editor
                          </span><progress max="100" value="90" class="progress progress-secondary"></progress>
                      </div>
                      <div class="flex items-center p-1"><span
                          class="text-base-content/70 w-48 text-xs">Simple Image Editor</span><progress max="100" value="90"
                          class="progress progress-accent"></progress>
                      </div>
                      <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs">Global Reach</span><progress max="100" value="90" class="progress progress-warning"></progress>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-4 m-2 bg-base-200  ">
          <div class="card w-96 bg-base-100 shadow-xl h-full">
            <div class="avatar-group -space-x-6 mx-auto block">
              <div class="avatar">
                <div class="w-12">
                  <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/person1.png" />
                </div>
              </div>
              <div class="avatar">
                <div class="w-12">
                  <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/person2.png" />
                </div>
              </div>
              <div class="avatar">
                <div class="w-12">
                  <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/person3.png" />
                </div>
              </div>
              <div class="avatar">
                <div class="w-12">
                  <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/person4.png" />
                </div>
              </div>
            </div>
            <div class="card-body">
              <h2 class="card-title mx-auto block">
                Sharing Made Easy
              </h2>
              <p class="text-base-content/70 my-3 text-sm text-center">Custom Writing Tools<br>
                Custom Image Filters<br>
                Custom Dashboard</p>
              <div class="card-actions justify-center">
                <div class="badge badge-outline">Filter Posts</div>
                <div class="badge badge-outline">Tag Images & Posts</div>
                <div class="badge badge-outline">Heart Images</div>
                <div class="badge badge-outline">Heartbreak Images</div>
              </div>
              <button class="btn btn-neutral btn-block space-x-2 mt-6"><svg xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" class="h-6 w-6 stroke-current">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>Create - Edit - Delete</span></button>
            </div>
          </div>
        </div>
        <div class="p-4 m-2 bg-base-200  ">
          <div class="card w-96 bg-base-100 shadow-xl h-full">
            <div class="flex flex-col items-center space-x-2">
              <h2 class="card-title mx-auto block">
                Privacy
                <div class="badge badge-secondary">+1</div>
              </h2>
            </div>
            <div class="card-body">

              <p class="text-base-content/70 my-3 text-sm text-center">Opensource<br>
                Password Free Login<br>
                One-Click Unsubscribe</p>
              <div class="dropdown w-full flex-1">
                <div tabindex="0">
                  <div class="form-control"><label class="label cursor-pointer"><span class="label-text">No requirement for username or password</span>
                      <input type="checkbox" checked class="toggle toggle-primary"></label></div>
                  <div class="form-control"><label class="label cursor-pointer"><span class="label-text">Secure login via Google, Facebook, Twitter or Microsoft </span>
                      <input type="checkbox" checked class="toggle toggle-secondary"></label></div>
                  <div class="form-control"><label class="label cursor-pointer"><span class="label-text">Complete control over content</span>
                      <input type="checkbox" checked class="toggle toggle-accent"></label></div>
                  <div class="form-control"><label class="label cursor-pointer"><span class="label-text">No public access to images or stories</span>
                      <input type="checkbox" checked class="toggle"></label>
                  </div>
                  <button class="btn btn-neutral   btn-block space-x-2 mt-6"><svg xmlns="http://www.w3.org/2000/svg"
                      fill="none" viewBox="0 0 24 24" class="h-6 w-6 stroke-current">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <span>Apply settings</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="hero  min-h-fit	 sm:mt-2">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img
            src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/mothersday.png"
            class="min-w-0	     shadow-md" />
          <div>
            <h2 class="text-4xl font-bold text-center lg:text-left	 ">Never miss Mother's Day again. Ever.</h2>
            <p class="py-6 text-lg">We'll wish your mom <span class=" font-bold text-red-300 italic ">every single
                year</span> on Mother's Day on your behalf <span class=" font-bold text-green-300 italic">for the rest
                of her life</span></p>
            <button class="btn btn-secondary mx-auto lg:mx-0	text-xl block"><a href="/login">Your mom earned this</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%if (typeof user === 'undefined') { %>
<%- include('partials/footer-preauth') %>
<% } else { %>
<%- include('partials/footer-postauth') %>
<%  } %>