<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>
<div class="grow overflow-y-scroll">
    <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8  card  rounded-box place-items-center">

            <div class="bg-base-200 shadow rounded p-10 mt-16">


             <button aria-label="Login with Google" role="button" class=" bg-base-300 focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
                <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="google">
                 <p class="text-base font-medium ml-4 text-neutral-content"><a href="auth/google">Login with Google</a></p>
             </button>

             <button aria-label="Login with Microsoft" role="button" class=" bg-base-300 focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
                <img src="https://img.icons8.com/color/48/000000/microsoft.png" alt="microsoft">
                <p class="text-base font-medium ml-4 text-neutral-content"><a href="">Login with Microsoft</a></p>
             </button>


             <button aria-label="Login with Facebook" role="button" class="  bg-base-300 focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
                <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png" alt="facebook">

                 <p class=" text-base font-medium ml-4 text-neutral-content">Login with Facebook</p>
             </button>


             <button aria-label="Login with Twitter" role="button" class="bg-base-300 focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
                <img src="https://img.icons8.com/color/48/000000/twitter--v1.png" alt="twitter">


                 <p class="text-base font-medium ml-4 text-neutral-content">Login with Twitter</p>
             </button>


             </div>








</div>
</div>
</div>
<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>