<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
    <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">


<h1>Message Confirmation</h1>
<div class="sendmessagesuccess">

<h3><%=typeof confirmation == 'undefined' ? '' : confirmation%></h3>

</div>
</div>
</div>

</div>
<%- include('partials/footer-postauth') %>