<%- include('partials/header') %>

<br><br>
<a href="/loggedinindex">Home</a>
<a href="/wall/feed">Feed</a>
<a href="/profile">Profile</a>
<a href="/updatedindex">Make a Post</a>
<a href="/wall">Wall</a>
<a href="/message">Contact Us</a><br><br>
<a class="count" href="/post/dashboard">Dashboard</a>
<br><br>
<button class="checkMe">CHECK ME</button> 
<span id="push-notify"></span><br><br>

<div class="sendmessagesuccess">

    <h3><%=typeof confirmation == 'undefined' ? '' : confirmation%></h3>
  
    </div>
    

<%- include('partials/footer') %>