<%- include('partials/header') %>

<br><br>
<a href="/loggedinindex">Home</a>
<a href="/wall/feed">Feed</a>
<a href="/profile">Profile</a>
<a href="/updatedindex">Make a Post</a>
<a href="/wall">Wall</a>
<a href="/message">Contact Us</a><br><br>
<a class="count" href="/post/dashboard">Dashboard</a>
<br><br>
<button class="checkMe">CHECK ME</button> 
<span id="push-notify"></span><br><br>



<div class="sendmessage">

    <h2>Contact Us</h2>
        <form id="contact-us" action="/sendmessage" method='POST'>
 
        <label>Name</label>
        <input type="text" name="name" required><br><br>
 
        <label>Email</label>
        <input type="email" name="email" required><br><br>
 
        <label>Message</label>
        <textarea name="message" rows="10"></textarea required><br><br>
 
            <input type="submit" />

            
 
    </form>
 
  
    </div>
    

<%- include('partials/footer') %>