<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>
    <div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
        <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">
    <h1>Contact Us</h1>

    <div class="sendmessage">

        <form id="contact-us" action="/sendmessage" method='POST'>

            <label>Name</label>
            <input type="text" name="name" required><br><br>

            <label>Email</label>
            <input type="email" name="email" required><br><br>

            <label>Message</label>
            <textarea name="message" rows="10"></textarea required><br><br>

            <input type="submit" />



    </form>


    </div>
    </div>
    </div>
</div>

<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>