<%- include('partials/header') %>
<h1>Message Confirmation</h1>
<div class="sendmessagesuccess">

<h3><%=typeof confirmation == 'undefined' ? '' : confirmation%></h3>

</div>
    

<%- include('partials/footer') %>