<%- include('partials/header') %>
<a href="/loggedinindex">Home</a><br> 
<a href="/updatedindex">Make a Post</a>
<a href="/post/dashboard">Dashboard</a>
<div class="sendmessage">

    <h2>Contact Us</h2>
        <form id="contact-us" action="/sendmessage" method='POST'>
 
        <label>Name</label>
        <input type="text" name="name" required><br><br>
 
        <label>Email</label>
        <input type="email" name="email" required><br><br>
 
        <label>Message</label>
        <textarea name="message" rows="10"></textarea required><br><br>
 
            <input type="submit" />

            
 
    </form>
 
  
    </div>
    

<%- include('partials/footer') %>