<%- include('partials/header') %>
<a href="/loggedinindex">Home</a><br> 
<a href="/updatedindex">Make a Post</a>
<a href="/post/dashboard">Dashboard</a>
<div class="sendmessage">

    <h2>Contact Us</h2>
        <form action="/sendmessage" method='POST'>
 
        <label>Name</label>
        <input type="text" name="name" required><br><br>
 
        <label>Email</label>
        <input type="email" name="email" required><br><br>
 
        <label>Message</label>
        <textarea name="message" rows="10"></textarea required><br><br>
 
        <button type="submit">Submit</button>
 
    </form>
    <h3><%=typeof confirmation == 'undefined' ? '' : confirmation%></h3>
  
    </div>
    

<%- include('partials/footer') %>