<%- include('partials/header') %>
<a href="/loggedinindex">Home</a><br> 
<a href="/updatedindex">Make a Post</a>
<a href="/post/dashboard">Dashboard</a>
<div class="sendmessagesuccess">

    <h3><%=typeof confirmation == 'undefined' ? '' : confirmation%></h3>
  
    </div>
    

<%- include('partials/footer') %>