<%- include('partials/header') %>
<a href="/loggedinindex">Home</a><br> 
<a href="/updatedindex">Make a Post</a>
<a class="count" href="/post/dashboard">Dashboard</a><br><br>

<h1>Sorry your transaction failed!</h1>

<h2>Try Again!</h2>


<spam id="msg" style="color:red"></spam><br><br>

<label>Your Mom's Name</label>
<input type="text" id="momName" name="momName" required><br><br>

<label>Your Mom's Email</label>
<input type="text" id="momEmail" name="momEmail"  required>
<span id="emailvalidate" style="color:red"></span> <br><br>

<label>Name or Nickname</label>
<input type="text" id="childName" name="childName" required><br><br>


<button class="stripebutton">Checkout</button><br><br>



<%- include('partials/footer') %>