<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll">
    <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">


<h1>Sorry your transaction failed!</h1>

<h2>Try Again!</h2>


<spam id="msg" style="color:red"></spam><br><br>

<label>Your Mom's Name</label>
<input type="text" id="momName" name="momName" required><br><br>

<label>Your Mom's Email</label>
<input type="text" id="momEmail" name="momEmail"  required>
<span id="emailvalidate" style="color:red"></span> <br><br>

<label>Name or Nickname</label>
<input type="text" id="childName" name="childName" required><br><br>


<button class="stripebutton">Checkout</button><br><br>

</div>
</div>
</div>

<%- include('partials/footer-postauth') %>