<%- include('partials/header') %>
<a href="/loggedinindex">Home</a><br> 
<a href="/updatedindex">Make a Post</a>
<a class="count" href="/post/dashboard">Dashboard</a><br><br>

<button class="stripebutton">Checkout</button><br><br>

<%- include('partials/footer') %>