<%- include('partials/header') %>
<a href="/loggedinindex">Home</a><br> 
<a href="/updatedindex">Make a Post</a>
<a class="count" href="/post/dashboard">Dashboard</a><br><br>

<h1>Failure</h1>

<%- include('partials/footer') %>