<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>
    <div class="grow  -mt-20 sm:mt-0	 ">
        <div class="grid grid-cols-8 gap-4">
            <div class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card bg-base-300 rounded-box place-items-center p-8">

            <h1 class="text-4xl  font-bold text-center lg:text-left	 "> NFT's</h1>

            <div class=" bg-base-200 md:w-8/12     py-2 rounded-md shadow-md m-4">
                <p class="py-2 text-lg">NFTs (Non-Fungible Tokens) for ‘All My Life She Sacrificed’ are released as part of the <a href="https://www.musicavatars.org" target=”_blank” class="link link-primary">Music Avatars</a> 10K NFT collection on the Etherum Blockchain. This song will be released as a Cover Art NFT project instead of Music NFTs.</p>

                <p class="py-2 text-lg">A Music Avatar NFT was used in the creation of the ‘All My Life She Sacrificed’ Song Cover  and edited with the help of Stable Diffusion AI.  </p>

                <p class="py-2 text-md text-center italic">(Insert image of Song Cover)</p>

                <p class="py-2 text-lg">

                    A PFP (profile for picture) NFT collection was chosen instead of Music NFTs to provide NFT buyers all copyright associated with the image (instead of the barriers that hold back Music NFTs). </p>
                    <p class="py-2 text-lg">
                    This will allow NFT holders to expand on the universe of Music Avatars in their own creative way without any restrictions and earn from exploiting their image copyright. </p>

                <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/musicavatars.png"   class="mx-auto block"  />
                <p class="py-2 text-center text-sm">Examples of Music Avatar NFTs</p>



                    <p class="py-2 text-lg"><a href="https://www.musicavatars.org" target=”_blank” class="link link-primary">Music Avatars</a> have a maximum of 10,000 NFTs. Once minting is complete, these NFTs can only be bought and traded on Opensea or other NFT marketplaces. The Music Avatars NFT collection is also a Bruce (Kolourr) Rebello creation.





                     </p>

                </div>


</div>
</div>
</div>
<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>