<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>
    <div class="grow  -mt-20 sm:mt-0	 ">
        <div class="grid grid-cols-8 gap-4">
            <div class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card bg-base-300 rounded-box place-items-center p-8">

            <h1 class="text-4xl  font-bold text-center lg:text-left	 "> NFT's</h1>

            <div class=" bg-base-200 md:w-8/12     py-2 rounded-md shadow-md m-4">
                <p class="py-2 text-lg">NFTs (Non-Fungible Tokens) for ‘All My Life She Sacrificed’ come in the form of a PFP (profile for picture) NFT collection on the Ethereum Blockchain. This collection is called <a href="https://www.musicavatars.org" target=”_blank” class="link link-primary">Music Avatars</a> .


                <p class="py-2 text-lg">A Music Avatar NFT was used in the creation of the song's cover.</p>

                <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/MUSIC+COVER+-+AALSS+(500+%C3%97+500+px).png"   class="mx-auto block"  />
                <p class="py-2 text-center text-sm">All My Life She Sacrificed Song Cover</p>


                <p class="py-2 text-lg">

                    A PFP NFT collection was chosen instead of Music NFTs to provide NFT owners the copyright associated with the NFT.</p>
                    <p class="py-2 text-lg">
                    This will allow NFT holders to expand the universe of Music Avatars in their own creative way without any restrictions and earn from exploiting the image copyright. </p>

                <img src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/musicavatars.png"   class="mx-auto block"  />
                <p class="py-2 text-center text-sm">Examples of Music Avatar NFTs</p>



                    <p class="py-2 text-lg"><a href="https://www.musicavatars.org" target=”_blank” class="link link-primary">Music Avatars</a> have a maximum of 10,000 NFTs. Once minting is complete, these NFTs can only be bought and traded on Opensea or other NFT marketplaces.





                     </p>

                </div>


</div>
</div>
</div>
<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>