<%if (typeof user === 'undefined') { %>
    <%- include('partials/header-preauth') %>
    <% } else { %>
    <%- include('partials/header-postauth') %>
    <%  } %>
    <div class="grow  -mt-10 sm:mt-0	 ">
        <div class="grid grid-cols-8 gap-4">
            <div class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card bg-base-300 rounded-box place-items-center p-8">

            <h1 class="text-4xl  font-bold text-center lg:text-left	 "> Song</h1>

            <div class=" bg-base-200 md:w-8/12     py-2 rounded-md shadow-md m-4">
                <p class="py-2 text-lg">The song ‘All My Life She Sacrificed’ by Kolourr that inspired the creation of this web application. It should also be available on all streaming platforms.
                </p>

                <p class="py-2 text-lg">If you do enjoy it please share! (will be released when this app is finalized!)
                    </p>

                    <p class="py-2 text-md text-center italic">(A Youtube video will be embedded here and links to various streaming platforms also included)</p>


                 </div>


</div>
</div>
</div>
<%if (typeof user === 'undefined') { %>
    <%- include('partials/footer-preauth') %>
    <% } else { %>
    <%- include('partials/footer-postauth') %>
    <%  } %>