<%if (typeof user === 'undefined') { %> <%- include('partials/header-preauth')
%> <% } else { %> <%- include('partials/header-postauth') %> <% } %>
<div class="grow -mt-20 sm:mt-0">
  <div class="grid grid-cols-8 gap-4">
    <div
      class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card bg-base-300 rounded-box place-items-center p-8"
    >
      <h1 class="text-4xl font-bold text-center lg:text-left">Song</h1>
      <p class="py-2 text-lg">
        The song ‘All My Life She Sacrificed’ by Kolourr that inspired the
        creation of this web application. It should also be available on all
        streaming platforms when the song is officially released
      </p>
      <p class="text-2xl text-center italic p-4">
        (This is the <span class="font-bold">DEMO</span> for 'All My Life She
        Sacrificed’')
      </p>
      <iframe
        class="p-2"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/hdNQpC4n0a8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<%if (typeof user === 'undefined') { %> <%- include('partials/footer-preauth')
%> <% } else { %> <%- include('partials/footer-postauth') %> <% } %>
