<%- include('partials/header') %>
<div class="grow overflow-y-scroll">
    <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">

    <h1>Share a Post About Your Mom!</h1>

    <form action="/post/createPost" method="POST">
        <input type="text" placeholder="Title" name="title" /> <br /><br />
        <input type="text" placeholder="Body" name="body" /><br /><br />

        <select id="postType" name="postType">
            <option value="aww" selected>Aww</option>
            <option value="thankful">Thankful</option>
            <option value="blessing">Blessing</option>
            <option value="heartbroken">Heartbroken</option>
            <option value="remorseful">Remorseful</option>
            <option value="cranky">Cranky</option>
            <option value="free">Free</option>
            <option value="fortunate">Fortunate</option>
            <option value="humbled">Humbled</option>
        </select><br /><br />

        <input type="submit" />
    </form>
    </div>
    </div>
</div>

<%- include('partials/footer') %>