<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
    <div class="grid grid-cols-8 gap-4">
      <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center ">

            <h1 class="text-2xl text-center font-bold m-4 ">Share a Story About Your Mom</h1>


    <form action="/post/createPost" method="POST">
        <div class="flex flex-col">


        <input type="text" rows="6"  class="input input-bordered input-primary w-full mb-4  "  placeholder="Title of the story" name="title" required/>

        <textarea class="textarea textarea-success mb-4" type="text" rows="10" cols="60"
        placeholder="Your story can be anyting that is close to your heart. Just start typing in here and this message will disappear..."
        name="body"  id="caption" required></textarea>




        <select class="select select-warning " id="postType" name="postType" required>
            <option disabled selected>Choose a Category</option>
            <option value="aww">Aww</option>
            <option value="thankful">Thankful</option>
            <option value="blessing">Blessing</option>
            <option value="heartbroken">Heartbroken</option>
            <option value="remorseful">Remorseful</option>
            <option value="cranky">Cranky</option>
            <option value="free">Free</option>
            <option value="fortunate">Fortunate</option>
            <option value="humbled">Humbled</option>
        </select><br /><br />


        <div class="col-md-6 -mt-2 mb-2">
            <button id="submit-wallImage" class=" btn btn-primary btn-block uppercase text-xl">Submit</button>
        </div>


        </div>
    </form>
    </div>
    </div>
</div>

<%- include('partials/footer-postauth') %>