@tailwind base;
@tailwind components;
@tailwind utilities;

#canvas {
   margin: auto;
   background: rgba(18, 36, 65, 0.5);
   width: 75%;
 }

 .ck.ck-content:not(.ck-comment__input *) {
   height: 400px;
   overflow-y: auto;
 }



/* .footer {

   place-items: center;
}



 .profile-picture {
    border-radius: 50%
 }





  .btn {
   @apply rounded-full;
 }
  */