<%if (typeof user === 'undefined') { %>
    <%- include('../partials/header-preauth') %>
    <% } else { %>
    <%- include('../partials/header-postauth') %>
    <%  } %>
    <div class="grow overflow-y-scroll">
      <div class="grid grid-cols-8 gap-4">
        <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-100 rounded-box place-items-center">

            <h1 class="text-4xl  font-bold text-center lg:text-left	 ">404 Error</h1>
            <p class="py-6  text-md ml-6">Sorry, we can't seem to find what you're looking for.</p>

            <img
            src="https://ilovguitars-amlss-mom.s3.ca-central-1.amazonaws.com/404.png"
            class="min-w-0	     shadow-md" />

</div>
</div>
</div>
<%if (typeof user === 'undefined') { %>
    <%- include('../partials/footer-preauth') %>
    <% } else { %>
    <%- include('../partials/footer-postauth') %>
    <%  } %>